.maincon h2 {
    text-align: center;
    font-size: 0.9em;
    color: white;
    margin-top: 46px;
}
.maincon h1{
    text-align: center;
    font-size: 1.8em;
    color: white;
    margin-top: 16px;
    margin-bottom: 60px;
}
.maincon p{
    color: white;
}
.first-con{
    border-bottom: solid 1px white;
    width: 70%;
    margin: 3px auto;
    display: flex;
    margin-bottom: 40px;
}
.first-con img{
    width: 80%;
    position: relative;
    top: 30px;
}
.first-con h2{
    font-size: 1.4em;
    margin-bottom: 12px;
}
.insidebox{
    position: relative;
    bottom: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.secimg{
    position: relative;
    bottom: 30px;
}